<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上海大学日历助手</title>
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <!-- Custom fonts for this template-->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body class="bg-gradient-primary">

<div class="container" style="margin-top: 70px">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">上海大学日历助手V1.0</h1>
                                </div>
                                <div class="user">
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-user" id="userName" aria-describedby="emailHelp" placeholder="学号">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user" id="passWord" placeholder="密码">
                                    </div>

                                    <button type="submit" id="login" class="btn btn-primary btn-user btn-block" >登录</button>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Custom scripts for all pages-->
<script src="/static/js/sb-admin-2.min.js"></script>

</body>
<script>
    $(document).ready(function () {
        $("#login").click(function () {
            $("#login").attr("disabled",true)
            var user = {
                userName:$("#userName").val(),
                passWord:$("#passWord").val()
            }
            login(user)
        })
    })
    function login(user) {
        $.ajax({
            type: "POST",
            url: "/api/v1/login",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(user),
            dataType: "json",
            async: false,
            success: function (message) {
                if (message.status===0) {
                    window.location.href = '/indexPage'
                }
                else {
                    alert(message.result)
                    $("#login").attr("disabled",false)
                }
            },
            error: function (message) {
                alert(message.result)
                $("#login").attr("disabled",false)
            }
        });
    }
</script>
</html>